@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata Regular'), url(theme/font/inconsonlata.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), local('NotoSans'), url(theme/font/notosans.woff2) format('woff2');
}
@font-face {
  font-family: 'Hind';
  src: local('Hind Light'), local('Hind-Light'), url(theme/font/hind.woff2) format('woff2');
}
@font-face {
  font-family: 'Symbola';
  src: url('theme/font/Symbola_hint.ttf') format('truetype');
}

/* Theme Styles */
body {
  font-family: 'Noto Sans', 'Symbola', sans-serif;
  font-weight: 300;
  font-size: 150%;
  color: #000;
}

.center {
  text-align: center;
}

/* The following is needed for the ESC overview slide selection */
.slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.slides.active .slide:not(.hidden) {
  border: 22px solid #F5D380;
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  cursor: pointer;
  display: none;
}

.slides.active .slide:hover .slide-overlay::before {
  content: '▶';
  text-align: center;
  line-height: 300px;
  font-size: 200px;
  color: #fff;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slides.active .slide:hover .slide-overlay{
  display: block;
  background: rgba(0,0,0,0.5);
}
.slide-wrapper {
  margin: 7px;
  transition: all 250ms;
}

/* Presentation Styles */
.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #FFF;
}

.slide-content {
  z-index: 2;
  opacity: 1;
  max-width: 85vw;
  max-height: 85vh;
  margin: 0 auto 0;
  font-size: 200%;
  font-weight: 200;
  line-height: 1.375;
  overflow: hidden;
}

.controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
}

.controls .overview {
  float: left;
  color: #C7C7C7;
  margin-right: 15px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}
.controls .overview:hover {
  color: #00A69F;
}
.controls .arrow {
  float: left;
  height: 0;
  width: 0;
  margin-right: 15px;
  border: 15px solid #C7C7C7;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.controls .prev {
  border-top-color: transparent;
  border-right-width: 25px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-left-width: 0;
}

.controls .next {
  border-top-color: transparent;
  border-right-color: transparent;
  border-right-width: 0;
  border-bottom-color: transparent;
  border-left-width: 25px;
}

.controls .prev:hover {
  border-right-color: #00A69F;
  cursor: pointer;
}

.controls .next:hover {
  border-left-color: #00A69F;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 1rem 0;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 300%;
  text-align: center;
}

h2 {
  font-size: 200%;
  font-weight: 200;
  text-align: center;
  color: #00A69F;
}

h3 {
  font-size: 140%;
  padding-bottom: 1rem;
  border-bottom: 1px ridge currentColor;
}

p {
  margin: 1rem 0;
}

ul, ol {
  padding-left: 6rem;
}

blockquote {
  padding-left: 20px;
  margin-left: 0;
  background: #efefef;
  border-left: 5px solid #00A69F;
  border-radius: 0 3px 3px 0;
}

blockquote p {
  padding: .5em;
  color: #000;
}

small {
  font-size: 60%;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

.float-right {
  float: right;
}

.author h1 {
  margin: 2em 0 1em;
  font-size: 170%;
  font-weight: 200;
  text-align: center;
}

.author h3 {
  font-weight: 100;
  text-align: center;
  border: none;
}

a {
  word-break: break-all;
  text-decoration: none;
  color: #00A69F;
}

acronym {
  text-decoration: none;
}

hr {
  border: 1px solid #00A69F;
}


table td,
table th {
  padding-right: 3em;
  text-align: left;
}

.progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
  z-index: 2;
}

.progress-bar {
  height: 3px;
  width: 0;
  background-color: #00A69F;
  -webkit-transition: width .15s ease-out;
     -moz-transition: width .15s ease-out;
       -o-transition: width .15s ease-out;
          transition: width .15s ease-out;
}

.hidden {
  visibility: hidden;
}

code {
  display: block;
  overflow-x: auto;
  padding-left: 51px;
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
  background-color:#1e1e1e;
  color: #d4d4D4;
}
.monaco-editor .monaco-editor-hover-content .hover-row {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  white-space: pre-wrap;
  word-break: keep-all;
}
.monaco-editor .monaco-editor-hover .monaco-editor-hover-content {
  max-width: 80vw;
}

/* Responsiveness */
@media (max-width: 850px) {
  body {
    font-size: 70%;
  }

  .slide {
    padding: 50px;
  }
  p:last-of-type a {
    bottom: 60px;
  }

  .slide-content {
    width: auto;
  }

  .prev,
  .prev:hover {
    border-right-color: rgba(135, 135, 135, .5);
  }

  .next,
  .next:hover {
    border-left-color: rgba(135, 135, 135, .5);
  }
}

@media (max-width: 480px) {
  body {
    overflow: hidden;
    font-size: 50%;
  }

  .slide {
    padding: 10px;
  }
  p:last-of-type a {
    bottom: 15px;
  }
  .slide-content {
    height: 340px;
    padding: 10px;
    margin-top: 10px;
  }

  h1 {
    margin-top: 50px;
  }

  ul {
    padding-left: 25px;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  @page {
    size: A4 landscape;
    margin: 0;
  }

  .hidden {
    display: block;
  }

  html {
    height: 100%;
    width: 100%;
    overflow: visible;
  }

  body {
    float: none !important;
    padding: 0;
    margin: 0 auto !important;
    overflow: visible;
    background: none !important;
    border: 0;
  }

  .progress,
  .controls {
    display: none;
  }

  .slide-wrapper {
    width: 100%;
    height: 20.95cm;
    margin: 0;
    page-break-before: always;
    page-break-inside: avoid;
    page-break-after: always;
  }

  .slide {
    position: relative;
    height: 100%;
  }

  .slide-content {
    margin: 0;
    overflow: visible;
  }
}

.slide {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: padding-box;
  /*background-image: url(theme/img/footer.jpg);*/
}

#slide-1 h1 {
  color: #00A69F;
}
#slide-1 img {
  width: 35vw;
}
#slide-1 h2 {
  color: #333;
}
cite {
  float: right;
  font-size: 60%;
}

.author-slide {
  color: #00A69F;
}
.author-slide .url a,
.author-slide .email a {
  color: #333;
}
